# Trace visual calculations in a report and extract definitions
This notebook extracts the json definition of a report to find visual calculations and it's definitions

<mark>Note that this notebook contains AI generated code</mark>

In [9]:
# Importing semantic link labs packages
%pip install semantic-link-labs
import sempy_labs as labs
import sempy_labs.report as rep
from sempy_labs.report import ReportWrapper
import json
import base64
import pandas as pd

StatementMeta(, 0d5f12b7-5e00-4474-9f60-18f07bc58ff6, 22, Finished, Available, Finished)

Requirement already satisfied: semantic-link-labs in /nfs4/pyenv-55eef71e-e7ac-4d19-8506-847da4aa6acc/lib/python3.11/site-packages (0.10.0)
Requirement already satisfied: semantic-link-sempy>=0.10.2 in /nfs4/pyenv-55eef71e-e7ac-4d19-8506-847da4aa6acc/lib/python3.11/site-packages (from semantic-link-labs) (0.11.0)
Requirement already satisfied: anytree in /nfs4/pyenv-55eef71e-e7ac-4d19-8506-847da4aa6acc/lib/python3.11/site-packages (from semantic-link-labs) (2.13.0)
Requirement already satisfied: powerbiclient in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from semantic-link-labs) (3.1.1)
Requirement already satisfied: polib in /nfs4/pyenv-55eef71e-e7ac-4d19-8506-847da4aa6acc/lib/python3.11/site-packages (from semantic-link-labs) (1.2.0)
Requirement already satisfied: jsonpath_ng in /nfs4/pyenv-55eef71e-e7ac-4d19-8506-847da4aa6acc/lib/python3.11/site-packages (from semantic-link-labs) (1.7.0)
Requirement already satisfied: clr-loader>=0.2.5 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from semantic-link-sempy>=0.10.2->semantic-link-labs) (0.2.5)
Requirement already satisfied: graphviz>=0.20.1 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from semantic-link-sempy>=0.10.2->semantic-link-labs) (0.20.1)
Requirement already satisfied: pyarrow>=12.0.1 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from semantic-link-sempy>=0.10.2->semantic-link-labs) (14.0.2)
Requirement already satisfied: pythonnet>=3.0.1 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from semantic-link-sempy>=0.10.2->semantic-link-labs) (3.0.1)
Requirement already satisfied: scikit-learn>=1.2.2 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from semantic-link-sempy>=0.10.2->semantic-link-labs) (1.2.2)
Requirement already satisfied: setuptools>=68.2.2 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from semantic-link-sempy>=0.10.2->semantic-link-labs) (68.2.2)
Requirement already satisfied: tqdm>=4.65.0 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from semantic-link-sempy>=0.10.2->semantic-link-labs) (4.65.0)
Requirement already satisfied: rich>=13.3.5 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from semantic-link-sempy>=0.10.2->semantic-link-labs) (13.3.5)
Requirement already satisfied: regex>=2023.8.8 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from semantic-link-sempy>=0.10.2->semantic-link-labs) (2023.10.3)
Requirement already satisfied: pandas>=1.5.3 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from semantic-link-sempy>=0.10.2->semantic-link-labs) (2.1.4)
Requirement already satisfied: pyspark>=3.4.1 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from semantic-link-sempy>=0.10.2->semantic-link-labs) (3.5.1.5.4.20240407)
Requirement already satisfied: requests>=2.31.0 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from semantic-link-sempy>=0.10.2->semantic-link-labs) (2.31.0)
Requirement already satisfied: aiohttp>=3.8.6 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from semantic-link-sempy>=0.10.2->semantic-link-labs) (3.9.3)
Requirement already satisfied: IPython>=8.14.0 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from semantic-link-sempy>=0.10.2->semantic-link-labs) (8.20.0)
Requirement already satisfied: tenacity>=8.2.3 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from semantic-link-sempy>=0.10.2->semantic-link-labs) (8.2.3)
Requirement already satisfied: ply in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from jsonpath_ng->semantic-link-labs) (3.11)
Requirement already satisfied: ipywidgets>=7.0.0 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from powerbiclient->semantic-link-labs) (8.1.2)
Requirement already satisfied: jupyter-ui-poll>=0.1.2 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from powerbiclient->semantic-link-labs) (1.0.0)
Requirement already satisfied: msal>=1.8.0 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from powerbiclient->semantic-link-labs) (1.25.0)
Requirement already satisfied: aiosignal>=1.1.2 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from aiohttp>=3.8.6->semantic-link-sempy>=0.10.2->semantic-link-labs) (1.2.0)
Requirement already satisfied: attrs>=17.3.0 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from aiohttp>=3.8.6->semantic-link-sempy>=0.10.2->semantic-link-labs) (23.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from aiohttp>=3.8.6->semantic-link-sempy>=0.10.2->semantic-link-labs) (1.4.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from aiohttp>=3.8.6->semantic-link-sempy>=0.10.2->semantic-link-labs) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from aiohttp>=3.8.6->semantic-link-sempy>=0.10.2->semantic-link-labs) (1.9.3)
Requirement already satisfied: cffi>=1.13 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from clr-loader>=0.2.5->semantic-link-sempy>=0.10.2->semantic-link-labs) (1.16.0)
Requirement already satisfied: decorator in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from IPython>=8.14.0->semantic-link-sempy>=0.10.2->semantic-link-labs) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from IPython>=8.14.0->semantic-link-sempy>=0.10.2->semantic-link-labs) (0.18.1)
Requirement already satisfied: matplotlib-inline in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from IPython>=8.14.0->semantic-link-sempy>=0.10.2->semantic-link-labs) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from IPython>=8.14.0->semantic-link-sempy>=0.10.2->semantic-link-labs) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from IPython>=8.14.0->semantic-link-sempy>=0.10.2->semantic-link-labs) (2.15.1)
Requirement already satisfied: stack-data in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from IPython>=8.14.0->semantic-link-sempy>=0.10.2->semantic-link-labs) (0.2.0)
Requirement already satisfied: traitlets>=5 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from IPython>=8.14.0->semantic-link-sempy>=0.10.2->semantic-link-labs) (5.7.1)
Requirement already satisfied: pexpect>4.3 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from IPython>=8.14.0->semantic-link-sempy>=0.10.2->semantic-link-labs) (4.8.0)
Requirement already satisfied: comm>=0.1.3 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from ipywidgets>=7.0.0->powerbiclient->semantic-link-labs) (0.2.1)
Requirement already satisfied: widgetsnbextension~=4.0.10 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from ipywidgets>=7.0.0->powerbiclient->semantic-link-labs) (4.0.10)
Requirement already satisfied: jupyterlab-widgets~=3.0.10 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from ipywidgets>=7.0.0->powerbiclient->semantic-link-labs) (3.0.10)
Requirement already satisfied: PyJWT<3,>=1.0.0 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from PyJWT[crypto]<3,>=1.0.0->msal>=1.8.0->powerbiclient->semantic-link-labs) (2.4.0)
Requirement already satisfied: cryptography<44,>=0.6 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from msal>=1.8.0->powerbiclient->semantic-link-labs) (42.0.2)
Requirement already satisfied: numpy<2,>=1.23.2 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from pandas>=1.5.3->semantic-link-sempy>=0.10.2->semantic-link-labs) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from pandas>=1.5.3->semantic-link-sempy>=0.10.2->semantic-link-labs) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from pandas>=1.5.3->semantic-link-sempy>=0.10.2->semantic-link-labs) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from pandas>=1.5.3->semantic-link-sempy>=0.10.2->semantic-link-labs) (2023.3)
Requirement already satisfied: py4j==0.10.9.7 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from pyspark>=3.4.1->semantic-link-sempy>=0.10.2->semantic-link-labs) (0.10.9.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from requests>=2.31.0->semantic-link-sempy>=0.10.2->semantic-link-labs) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from requests>=2.31.0->semantic-link-sempy>=0.10.2->semantic-link-labs) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from requests>=2.31.0->semantic-link-sempy>=0.10.2->semantic-link-labs) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from requests>=2.31.0->semantic-link-sempy>=0.10.2->semantic-link-labs) (2024.2.2)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from rich>=13.3.5->semantic-link-sempy>=0.10.2->semantic-link-labs) (2.2.0)
Requirement already satisfied: scipy>=1.3.2 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from scikit-learn>=1.2.2->semantic-link-sempy>=0.10.2->semantic-link-labs) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from scikit-learn>=1.2.2->semantic-link-sempy>=0.10.2->semantic-link-labs) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from scikit-learn>=1.2.2->semantic-link-sempy>=0.10.2->semantic-link-labs) (2.2.0)
Requirement already satisfied: pycparser in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from cffi>=1.13->clr-loader>=0.2.5->semantic-link-sempy>=0.10.2->semantic-link-labs) (2.21)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from jedi>=0.16->IPython>=8.14.0->semantic-link-sempy>=0.10.2->semantic-link-labs) (0.8.3)
Requirement already satisfied: mdurl~=0.1 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from markdown-it-py<3.0.0,>=2.2.0->rich>=13.3.5->semantic-link-sempy>=0.10.2->semantic-link-labs) (0.1.0)
Requirement already satisfied: ptyprocess>=0.5 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from pexpect>4.3->IPython>=8.14.0->semantic-link-sempy>=0.10.2->semantic-link-labs) (0.7.0)
Requirement already satisfied: wcwidth in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from prompt-toolkit<3.1.0,>=3.0.41->IPython>=8.14.0->semantic-link-sempy>=0.10.2->semantic-link-labs) (0.2.5)
Requirement already satisfied: six>=1.5 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=1.5.3->semantic-link-sempy>=0.10.2->semantic-link-labs) (1.16.0)
Requirement already satisfied: executing in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from stack-data->IPython>=8.14.0->semantic-link-sempy>=0.10.2->semantic-link-labs) (0.8.3)
Requirement already satisfied: asttokens in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from stack-data->IPython>=8.14.0->semantic-link-sempy>=0.10.2->semantic-link-labs) (2.0.5)
Requirement already satisfied: pure-eval in /home/trusted-service-user/cluster-env/trident_env/lib/python3.11/site-packages (from stack-data->IPython>=8.14.0->semantic-link-sempy>=0.10.2->semantic-link-labs) (0.2.2)

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Warning: PySpark kernel has been restarted to use updated packages.

In [10]:
# Define variables
report_name = "Contoso Sales" # Enter the report name
report_workspace = "Visual Calculations book" # Enter the workspace in which the report exists
rpt = ReportWrapper(report=report_name, workspace=report_workspace) # Setting up the report wrapper to be used later

StatementMeta(, 0d5f12b7-5e00-4474-9f60-18f07bc58ff6, 24, Finished, Available, Finished)

In [11]:
# This step extracts the base64 payload for the different report elements
# if you want to reuse report elements, this can be useful, though we cannot directly extract the visual calculations
reportdef = labs.report.get_report_definition(
    report=report_name, 
    workspace=report_workspace , # defaults to the current workspace, 
    return_dataframe= True # if True, returns a dataframe. If False, returns a json dictionary.
    )

StatementMeta(, 0d5f12b7-5e00-4474-9f60-18f07bc58ff6, 25, Finished, Available, Finished)

In [12]:
# Recursive function to find all NativeVisualCalculation objects anywhere in a nested JSON
def find_native_visual_calculations(obj):
    results = []
    if isinstance(obj, dict):
        for k, v in obj.items():
            if k == "NativeVisualCalculation" and isinstance(v, dict):
                results.append(v)
            else:
                results.extend(find_native_visual_calculations(v))
    elif isinstance(obj, list):
        for item in obj:
            results.extend(find_native_visual_calculations(item))
    return results

StatementMeta(, 0d5f12b7-5e00-4474-9f60-18f07bc58ff6, 26, Finished, Available, Finished)

In [13]:
# Extract and decode the JSON payload from Base64
row = reportdef[reportdef["path"] == "report.json"].iloc[0]
base64_payload = row["payload"]
json_bytes = base64.b64decode(base64_payload)
json_str = json_bytes.decode("utf-8")
json_obj = json.loads(json_str)

StatementMeta(, 0d5f12b7-5e00-4474-9f60-18f07bc58ff6, 27, Finished, Available, Finished)

In [14]:
# trying to find the rows in the json which contain a definition like visual calculations
def find_strings_with_substring(obj, substring="NativeVisualCalculation"):
    found_strings = []
    if isinstance(obj, dict):
        for v in obj.values():
            found_strings.extend(find_strings_with_substring(v, substring))
    elif isinstance(obj, list):
        for item in obj:
            found_strings.extend(find_strings_with_substring(item, substring))
    elif isinstance(obj, str):
        if substring in obj:
            found_strings.append(obj)
    return found_strings

# Search all strings in json_obj that contain the key substring
strings_with_nvc = find_strings_with_substring(json_obj, "NativeVisualCalculation")

print(f"Found {len(strings_with_nvc)} strings containing 'NativeVisualCalculation'")

StatementMeta(, 0d5f12b7-5e00-4474-9f60-18f07bc58ff6, 28, Finished, Available, Finished)

Found 45 strings containing 'NativeVisualCalculation'

In [15]:
# as a line may contain multiple visual calculations, extracting the number of visual calculations from the strings
all_nvc_objects = []

for s in strings_with_nvc:
    try:
        # Sometimes the string might be JSON escaped (like config fields)
        parsed = json.loads(s)
    except Exception:
        # Not JSON, skip or continue
        continue
    
    # Now find native visual calculations inside this parsed JSON snippet
    nvc_objs = find_native_visual_calculations(parsed)
    all_nvc_objects.extend(nvc_objs)

print(f"Extracted {len(all_nvc_objects)} NativeVisualCalculation objects from embedded JSON strings")

StatementMeta(, 0d5f12b7-5e00-4474-9f60-18f07bc58ff6, 29, Finished, Available, Finished)

Extracted 115 NativeVisualCalculation objects from embedded JSON strings

In [16]:
# Build list of dictionaries to extract the Language, Expression and Name of the visual calculations
records = []
for nvc in all_nvc_objects:
    language = nvc.get("Language", "").strip()
    expression = nvc.get("Expression", "").replace('\n', ' ').strip()
    name = nvc.get("Name", "").strip()
    records.append({"Name": name, "Language": language, "Expression": expression})

# Create DataFrame
df = pd.DataFrame(records)

# Remove duplicates and reset index
df = df.drop_duplicates().reset_index(drop=True)

# Display with better formatting: no index, wrap text for expressions 
from IPython.display import display
pd.set_option('display.max_colwidth', None)  # show full Expression text without truncation

display(df.style.set_properties(**{
    'text-align': 'left',
    'white-space': 'pre-wrap',
    'word-wrap': 'break-word',
}))

StatementMeta(, 0d5f12b7-5e00-4474-9f60-18f07bc58ff6, 30, Finished, Available, Finished)